# Definimos um modelo base para não repetir configurações
x-servidor-config: &servidor-base
  build: .
  image: pix-app
  stdin_open: true
  # tty: true
  networks:
    - pix-net
  deploy:
    resources:
      limits:
        cpus: '0.50'
        memory: 512M

services:
  # Servidor 1
  servidor-1:
    <<: *servidor-base
    command: ./servidor.exe 4000 5000
    container_name: servidor-1

  # Servidor 2
  servidor-2:
    <<: *servidor-base
    command: ./servidor.exe 4000 5000
    container_name: servidor-2

  # Servidor 3
  servidor-3:
    <<: *servidor-base
    command: ./servidor.exe 4000 5000
    container_name: servidor-3

  # Clientes (Mantemos fixos para facilitar o 'attach' nos testes)
  cliente1:
    image: pix-app
    container_name: cliente-1
    command: ./cliente.exe 4000
    stdin_open: true
    # tty: true
    depends_on:
      - servidor-1
      - servidor-2
      - servidor-3
    networks:
      - pix-net

  cliente2:
    image: pix-app
    container_name: cliente-2
    command: ./cliente.exe 4000
    stdin_open: true
    # tty: true
    depends_on:
      - servidor-1
      - servidor-2
      - servidor-3
    networks:
      - pix-net

networks:
  pix-net:
    driver: bridge